<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<title>Layout Web Tabel</title>
</head>
<body>
	<table border="0">
		<tr bgcolor="#404040">
			<td width="150" height="70" align="center"><img src="src/revoltlogo.png" width="100" height="100"></td>
			<td width="1250" align="Center"><pre><h1><i>REVOLTGRP.           </pre></td>
		</tr>
		<tr bgcolor="#404040">
			<td height="30" colspan="2" align="center" style="border-radius: 7px;"><pre><h4>Home  /  Profile  /  Bio  /  Projects<pre></td>
		</tr>
		<tr>
			<td height="350" colspan="2"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></td>
		</tr>
		<tr bgcolor="#404040">
			<td height="70" colspan="2" align="center">©Revworks.ltd</td>
		</tr>
	</table>
</body>
</html>